{% extends 'layout/mainLayout.html.twig' %}
{% block stylesheets %}
{% endblock stylesheets %}

{% block body %}
	<nav class="horizontal_navbar row bc_anthracite">
		{{ navicon|raw }}
	</nav>
{% endblock body %}