/*!
 * Styletools Demo Stylesheet
 * Styletools 1.3
 * Copyright 2019 Argan Piquet
 * Author : Argan Piquet
 */
 
body {
	font-family:Open Sans, sans-serif;
}

nav.horizontal_navbar {
	color:#FFFFFF;
	background-color:#333333;
}

ul.navbar_gateways li a:hover, ul.navbar_gateways li:hover {
	background-color:#777777;
}

.dropdown_menu {
	background-color:#333333;
}

ul.dropdown_menu_gateways li:hover {
	background-color:#777777;
}

input[type=search] {
	width:70%;
	height:35px;
}

.btn {
	margin-top:20px;
	background-color:#68ACD1;
}

.btn:hover {
	background-color:#5E9BBC;
}

section#main, section#contact {
	display:flex;
	flex-direction:column;
	width:100vw;
	height:100vh;
	justify-content:center;
	align-items:center;
}

section#main {
	background-image:url("/Styletools/demo/img/IMG_20180915_111514.jpg");
	background-attachment:fixed;
	background-size:cover;
}

h1.big {color:#FFFFFF;}

section#contact {
	opacity:0.8;
	background-color:#FFFFFF;
}

footer {
	color:#FFFFFF;
	background-color:#333333;
}