{% extends 'layout/mainLayout.html.twig' %}

{% block stylesheets %}{% endblock stylesheets %}
{% block title %}This page doesn't exist{% endblock %}

{% block body %}
	<div class="width_70 column margin_auto bc_whitesmoke">
		<h1 class="normal center">404 Error</h1> 
		<p class="center">This page doesn't exist</p>
	</div>
{% endblock %}